@import "tailwindcss";

@theme {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-h1: var(--font-inter);
  --font-h2: var(--font-inter);
  --font-body-lg: var(--font-inter);
  --font-body-sm: var(--font-inter);
  --font-label-md: var(--font-inter);
  --font-code: var(--font-inter);

  --color-surface: #10131a;
  --color-surface-dim: #10131a;
  --color-surface-bright: #363941;
  --color-surface-container-lowest: #0b0e15;
  --color-surface-container-low: #191b23;
  --color-surface-container: #1d2027;
  --color-surface-container-high: #272a31;
  --color-surface-container-highest: #32353c;
  --color-on-surface: #e1e2ec;
  --color-on-surface-variant: #c2c6d6;
  --color-inverse-surface: #e1e2ec;
  --color-inverse-on-surface: #2e3038;
  --color-outline: #8c909f;
  --color-outline-variant: #424754;
  --color-surface-tint: #adc6ff;
  --color-primary: #adc6ff;
  --color-on-primary: #002e6a;
  --color-primary-container: #4d8eff;
  --color-on-primary-container: #00285d;
  --color-inverse-primary: #005ac2;
  --color-secondary: #b7c8e1;
  --color-on-secondary: #213145;
  --color-secondary-container: #3a4a5f;
  --color-on-secondary-container: #a9bad3;
  --color-tertiary: #ffb786;
  --color-on-tertiary: #502400;
  --color-tertiary-container: #df7412;
  --color-on-tertiary-container: #461f00;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  --color-primary-fixed: #d8e2ff;
  --color-primary-fixed-dim: #adc6ff;
  --color-on-primary-fixed: #001a42;
  --color-on-primary-fixed-variant: #004395;
  --color-secondary-fixed: #d3e4fe;
  --color-secondary-fixed-dim: #b7c8e1;
  --color-on-secondary-fixed: #0b1c30;
  --color-on-secondary-fixed-variant: #38485d;
  --color-tertiary-fixed: #ffdcc6;
  --color-tertiary-fixed-dim: #ffb786;
  --color-on-tertiary-fixed: #311400;
  --color-on-tertiary-fixed-variant: #723600;
  --color-background: #10131a;
  --color-on-background: #e1e2ec;
  
  --spacing-base: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 40px;
  --spacing-xl: 64px;
  --spacing-gutter: 16px;
  --spacing-margin: 24px;

  --radius-sm: 0.125rem;
  --radius-DEFAULT: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-background);
  color: var(--color-on-background);
}
